
<!DOCTYPE html>
<html>
<head>
        
    <title>About - ErrorsNoMore</title>

    
</head>
<body>        
     <div class="wiki-ph-content">

      <p>Do your programming errors haunt you in your dreams?Yes they did haunt us and why not? We have to get rid of them to get a good night's sleep. This was the inspiration behind this website to service fellow programmers.</p>

        <p ><strong >ErrorsNoMOre</strong> is a question and answer site for professional and enthusiast programmers. <br>Let us share our programming experiences and make errors no more. </p>

    <p><strong style="color:coral">Ask Questions and Get Answers</strong> is the mantra of this website</p>
    <p> Come and enjoy the hassle free way to get solutions to all your programming errors which frequent each one of us in our daily lives. For those who have overcome these errors, share your experiences with others.























    
</div> 
  
                      
</body>
</html>