/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
table tr:nth-of-type(even) {
  background-color: white ;
}

table tbody tr:nth-of-type(odd) {
  background-color: Silver ;
}

#error {
  color: #FF0000;
}

p.home{
  color: #2da1c1;
  font-size: large;
  text-decoration: none;
  float: right;
}

p.edit_profile{
  color: coral;
  font-size: large;
  text-decoration: none;
}

p.profile{
  color:coral;
  font-family:Courier New;
  font-size:150%
}

p.profile_value{
  font-family:Courier New;
  font-size:150%
}